.body {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #f2e2c4;
    padding: inherit;
    margin: 0 auto;
    width: 1600px;
}

.container {
    width: 100%;
    height: 100vh;
}
